@model Aplicacao.Dto.LaboratorioDto

@{
    ViewBag.Title = "Atualizar";
}

<div class="page-header">
    <div class="btn-toolbar pull-right">

        <a href="@Url.Action("Index", "Disciplina")" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Voltar
        </a>

    </div>
    <h3>@ViewBag.Title</h3>
</div> <!-- Cabeçalho -->
@using (Html.BeginForm("Atualizar", "Disciplina", FormMethod.Post, new { novalidate = "" }))
{
   
    <div class="row">
        <div class="form-group col-xs-12 col-md-6">
            <label class="control-label">Código *</label>
            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @disabled="disabled", @class = "form-control", @maxlength = "100" } })
            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="row">
            <div class="form-group col-xs-12 col-md-6">
                <label class="control-label">Descrição *</label>
                @Html.EditorFor(model => model.Descricao, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
                @Html.ValidationMessageFor(model => model.Descricao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xs-12 col-md-6">
                <label class="control-label">Curso*</label>
                @Html.EditorFor(model => model.Curso, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
                @Html.ValidationMessageFor(model => model.Curso, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="row">
            <div class="form-group text-right col-md-2 col-xs-12 ">
                <button type="submit" class="btn btn-primary col-xs-12">
                    <span class="glyphicon glyphicon-ok"></span>
                    &nbsp;Salvar
                </button>
            </div> <!-- Botão de Ação-->
        </div>
}