@model Aplicacao.Dto.UsuarioDto

@{
    ViewBag.Title = "Cadastrar";
}
@section Scripts {
    @Scripts.Render("~/Scripts/Usuario")

}
<style>
    .password-css {
        border: 4px solid #cccccc;
        display: block;
    }
</style>
<div id="alerts"></div>

<div class="page-header">
    <div class="btn-toolbar pull-right">

        <a href="@Url.Action("Index", "Usuario")" class="btn btn-primary">
             <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Voltar
        </a>

    </div>
    <h3>@ViewBag.Title</h3>
</div> <!-- Cabeçalho -->
@using (Html.BeginForm("Cadastrar", "Usuario", FormMethod.Post, new { novalidate = "" }))
{

    <div class="row">
        <div class="form-group col-xs-12 col-md-6">
            <label class="control-label">Nome *</label>
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-12 col-md-6">
            <label class="control-label">Login *</label>
            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-12 col-md-6">
            <label class="control-label">Senha *</label>
            @Html.PasswordFor(model => model.Senha, new { @class = "form-control ", @maxlength = "100"  })
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="row">
        <div class="form-group col-xs-12 col-md-6">
            <label class="control-label">Confirmar Senha *</label>
            @Html.PasswordFor(model => model.ConfirmarSenha, new { @class = "form-control", @maxlength = "100"  })
            @Html.ValidationMessageFor(model => model.ConfirmarSenha, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="pull-right col-xs-12 col-sm-4">
            <br />
            <label class="d-block hidden-xs col-sm-8">&nbsp;</label>
            <button type="submit" class="btn btn-success col-xs-12 col-sm-4" style="vertical-align:bottom">
                <span class="glyphicon glyphicon-ok"></span>&nbsp;Salvar
            </button>
        </div> <!-- Botão de ação -->
    </div>

}