<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, maximum-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=10"> 
    <title>@ViewBag.Title</title>
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700' rel='stylesheet' type='text/css'>
    @*@Styles.Render("~/Content/bootstrap/bundle")
    @Styles.Render("~/Content/kendo/2015.2.902/bundle")
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/bootstrap/bundle")
    @Scripts.Render("~/Scripts/kendo/Scripts/bundle")
    @RenderSection("styles", required: false)*@

    <script type="text/javascript">
        var __ROOT = '@Url.Content("~")';
    </script>

</head>
<body>
    @*    @{ Html.RenderPartial("~/Areas/Administrativo/Views/Shared/_Menu.cshtml"); }*@

    <div class="container body-content">
        <div class="container">
            @RenderBody()
        </div>
    </div>



    @*@RenderSection("scripts", required: false)*@
  @*  @{ Html.RenderPartial("~/Views/Shared/_Loading.cshtml"); }*@
</body>
</html>