@model Aplicacao.Dto.AgendamentoDto

@{
    ViewBag.Title = "Cadastrar";
}
@section scripts{
    @Scripts.Render("~/Scripts/Agendamento")
}

<div class="page-header">
    <div class="btn-toolbar pull-right">

        <a href="@Url.Action("Index", "Agendamento" )" class="btn btn-primary">
            <span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Voltar
        </a>

    </div>
    <h3>@ViewBag.Title</h3>
</div> <!-- Cabeçalho -->
<div id="alerts"></div>

@using (Html.BeginForm("Cadastrar", "Agendamento"))
{

    <div class="row">
        <div class="form-group col-xs-12 col-md-6">
            <label class="control-label">Disciplina</label>
            @Html.DropDownListFor(model => model.IdDisciplina, new SelectList(ViewBag.SelectListDisciplina, "Id", "Descricao", 2), 
             new { @class = "form-control", @style="display:block", @maxlength = "100" } )
            @Html.ValidationMessageFor(model => model.Disciplina, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-12 col-md-6">
            <label class="control-label">Laboratorio </label>
            @Html.DropDownListFor(model => model.IdLaboratorio, new SelectList(ViewBag.SelectListLaboratorio, "Id", "Descricao", 2), new { @class = "form-control", @maxlength = "100" } )
            @Html.ValidationMessageFor(model => model.Laboratorio, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-12 col-md-2">
            <label class="control-label">Horario Iniccial</label>
            @*@Html.EditorFor(model => model.HorarioInicial, new { htmlAttributes = new { @id = "dataInicial", @class = "form-control date", @maxlength = "100" } })*@
            <input type="date" id="DiaInicial" name="DiaInicial" class="form-control" >
        </div>
        <div class="form-group col-xs-12 col-md-2">
            <label class="control-label"></label>
            <input type="time" id="HoraInicial" name="HoraInicial" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-12 col-md-2">
            <label class="control-label">Horario Inicial</label>
            @*@Html.EditorFor(model => model.HorarioInicial, new { htmlAttributes = new { @id = "dataInicial", @class = "form-control date", @maxlength = "100" } })*@
            <input type="date" id="DiaFinal" name="Diafinal" class="form-control" >
        </div>
        <div class="form-group col-xs-12 col-md-2">
            <label class="control-label"></label>
            <input type="time" id="HoraFinal" name="HoraFinal" class="form-control">
        </div>
    </div>



    <div class="row">
        <div class="pull-right col-xs-12 col-sm-4">
            <br />
            <label class="d-block hidden-xs col-sm-8">&nbsp;</label>
            <button type="submit" class="btn btn-success col-xs-12 col-sm-4" style="vertical-align:bottom">
                <span class="glyphicon glyphicon-ok"></span>&nbsp;Salvar
            </button>
        </div> <!-- Botão de ação -->
    </div>
}

