@{
    ViewBag.Title = "Home Page";
}

@section styles{
    @Styles.Render("~/bundles/Agendamentos/Styles/Home")
}

<nav>
    <div class="row topo-m topo-inicio">
        <div class="col-sm-8 col-sm-offset-2">

           
                <div class="col-sm-4">
                    <div class="thumbnail-box">

                        <a href="@Url.Action("Index", "Home")" class="thumbnail" tabindex="1">
                            <span> Novo<br /> Cliente</span>
                        </a>
                    </div>
                </div>
            

                <div class="col-sm-4 xs-m-top">
                    <div class="thumbnail-box">
                        <a href="@Url.Action("Index", "Home")" class="thumbnail" tabindex="2">
                            <span>Novo<br /> Usuário</span>
                        </a>
                    </div>
                </div>
           
                <div class="col-sm-4 xs-m-top">
                    <div class="thumbnail-box">
                        <a href="@Url.Action("Index", "Home")" class="thumbnail" tabindex="3">
                            <span>Pesquisar<br /> Cliente</span>
                        </a>
                    </div>
                </div>
            

        </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

                <div class="col-sm-4">
                    <div class="thumbnail-box">
                        <a href="@Url.Action("Index", "Home")" class="thumbnail" tabindex="4">
                            <span>Gerar<br /> Carnês</span>
                        </a>
                    </div>
                </div>
         
                <div class="col-sm-4 xs-m-top">
                    <div class="thumbnail-box">
                        <a href="@Url.Action("Index", "Home")" class="thumbnail" tabindex="5">
                            <span>Importar<br /> Retorno</span>
                        </a>
                    </div>
                </div>
            

        </div>
    </div>
</nav>